@media screen and (max-width: 1200px) and (min-width: 1024px){
    .snip1256 h3{
        font-size: 20px;
    }
    .card-title > h4 {
        font-size: 25px;
        margin-top: 15px;
    }
    .card-title a{
        font-size: 17px;
    }
}
@media screen and (max-width: 1023px) and (min-width: 992px){
    .snip1256 h3{
        font-size: 20px;
    }
    .card-title > h4 {
        font-size: 25px;
        margin-top: 15px;
    }
    .card-title a{
        font-size: 17px;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    figure.snip1256 figcaption{
        padding: 20px 10px;
    }
    figure.snip1256 img{
        height: 105px;
    }
    .marka-img{
        width: 50px;
    }
    .snip1256 h3{
        font-size: 20px;
    }
    .card-title > h4 {
        font-size: 20px;
        margin-top: 15px;
    }
    .res-text{
        display: none;
        font-size: 11px;
    }
    .res-div:hover .res-text{
        display: block;
        
    }
    .res-div:hover .icon{
        display: none;
    }
    .card-header{
        width: 100%;
    }
    .card-header img{
        width: 100%;
    }
    .mark-info .icon{
        margin-bottom: 20px;
    }
    #openPopUp{
        margin-left: 0%;
        font-size: 15px;
        padding-top: 10px;
    }
    figure.snip1249 figcaption{
        padding: 10px;
    }
    figure.snip1249 figcaption:before{
        right: -15px;
    }
    figure.snip1249 .add-to-cart{
        font-size: 10px;
    }
    figure.snip1249 .price{
        font-size: 12px;
    }
    ul.tabs li{
        width: 120px;
        font-size: 14px;
    }
    .card-title a{
        font-size: 18px;
    }
    .card .card-content p:first-of-type{
        font-size: 13px;
    }

}
@media screen and (max-width: 767px) and (min-width: 576px){
    figure.snip1256 img{
        height: 100px;
    }
    .header-top{
        display: none;
    }
    .res-div{
        display: none!important;
    }
    .card-header{
        width: 100%;
    }
    .card-title > h4 {
        font-size: 20px;
        margin-top: 15px;
    }
    .team-title h5{
        font-size: 13px;
    }
    .snip1256 h3{
        font-size: 15px;
    }
    figure.snip1256 figcaption{
        padding: 20px 10px;
    }
    #openPopUp{
        margin-left: 1%;
    }
    .popup article{
        height: 500px;
    }
    .ssss{
        margin-top: 15px;
    }
    ul.tabs li{
        width: 127.5px;
        font-size: 14px;
    }
    
}
@media screen and (max-width: 575px) and (min-width: 500px){
    .header-top{
        display: none;
    }
    .marka-div{
        max-width: 60% !important;
        margin-left: 16%;
    }
    .popup article{
        height: 500px;
    }
    .ssss{
        margin-top: 15px;
        margin-left: 20%;
    }
    .ppp{
        font-size: 15px;
        text-align: center;
    }
    .popup img{
        margin-left: 21% !important;
    }
    figure.snip1249{
        margin: 0px;
    }
    ul.tabs li{
        width: 113.2px;
        font-size: 14px;
    }
}
@media screen and (max-width: 499px) and (min-width: 426px){
    .hero-info{
        padding: 3rem;
    }
    .res-div{
        display: none!important;
    }
    .social-media ul{
        margin-right: -22%!important;
    }
    .marka-div{
        max-width: 60% !important;
        margin-left: 16%;
    }
    .ssss{
        margin-top: 15px;
        margin-left: 20%;
    }
    .ppp{
        font-size: 15px;
        text-align: center;
        margin-top: 0px;
    }
    .popup img{
        margin-left: 21% !important;
    }
    ul.tabs li{
        width: 100px;
        font-size: 14px;
    }
}
@media screen and (max-width: 425px) and (min-width: 376px){
    .hero-info{
        padding: 2rem 1rem;
    }
    .res-div{
        display: none!important;
    }
    .social-media ul{
        margin-right: -22%!important;
    }
    .marka-div{
        max-width: 70% !important;
        margin-left: 13%;
    }
    .contact form{
        display: block;
    }
            
    .contact form button{
        margin-top: 20px;
    }
    .wrapper{
        padding: 30px;
    }
    .ssss{
        margin-top: 15px;
        margin-left: 20%;
    }
    .ppp{
        font-size: 12px;
        text-align: center;
        margin-top: -30px;
    }
    .popup img{
        margin-left: 21% !important;
    }

}
@media screen and (max-width: 375px) and (min-width: 320px){
   .hero-info{
        padding: 2rem 1rem;
    }
    .res-div{
        display: none!important;
    }
    .social-media ul{
        margin-right: -22%!important;
    }
    .marka-div{
        max-width: 70% !important;
        margin-left: 13%;
    } 
    .snip1256 h3{
        font-size: 20px;
    }
    figure.snip1256 figcaption{
        padding: 20px 10px;
    }
    .contact form{
        display: block;
    }
    .contact form button{
        margin-top: 20px;
    }
    .wrapper{
        padding: 20px;
    }
    .ssss{
        margin-top: 15px;
        margin-left: 20%;
    }
    .ppp{
        font-size: 12px;
        text-align: center;
        margin-top: -40px;
    }
    .popup img{
        margin-left: 13% !important;
    }
}
@media screen and (max-width: 350px) and (min-width: 320px){
  .popup img{
        margin-left: 9% !important;
    }  
}
